[Unit]
Decription=demo fastapi application
After=network.target

[Service]
User=apiiit123
Group=apiiit123
WorkingDirectory=/home/apiiit123/Desktop/FAST_API/app
Environment="PATH=/home/apiiit123/Desktop/FAST_API/venv/bin"
EnvironmentFile=/home/apiiit123/Desktop/FAST_API/.env
ExecStart=/home/apiiit123/Desktop/FAST_API/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target